<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint, sed
      reprehenderit officiis repellat voluptatum id dolor at voluptate
      doloremque iste fuga amet nisi labore delectus, qui incidunt doloribus
      dolorem.
    </p>
  </header>
  <div class="card card--secondary">
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor explicabo
      voluptatum labore sint.
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-right">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint, sed
      reprehenderit officiis repellat voluptatum id dolor at voluptate
      doloremque iste fuga amet nisi labore delectus, qui incidunt doloribus
      dolorem.
    </p>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut sint, sed
      reprehenderit officiis repellat voluptatum id dolor at voluptate
      doloremque iste fuga amet nisi labore delectus, qui incidunt doloribus
      dolorem.
    </p>
  </div>
</section>
